# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars
infra/lambda/**/*.zip
infra/.terraform.lock.hcl

# Python
__pycache__/
*.pyc

# Environment
.env

# SSH Keys
*.pem
*.pem:Zone.Identifier

# Readme file images
*.png
*.png:Zone.Identifier
